<!-- Validation failure messages -->
<% if @program_application.errors.any? %>
  <% @program_application.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Program Application</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_program_application" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    

      <!-- Label and input for reason_for_choosing -->
      <div class="form-group">
        <label for="reason_for_choosing" class="control-label">
          Reason for choosing
        </label>

        <textarea id="reason_for_choosing" name="reason_for_choosing" placeholder="Reason for choosing" class="form-control" rows="3"><%= @program_application.reason_for_choosing %></textarea>
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @program_application.notes %></textarea>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>
        <select name="user_id" class="form-control">
        <% User.all.each do |user_id| %>
        <option value="<%= user_id.id %>"><%= user_id.name %><option>
        <% end %>
        </select>

      </div>
      <div class="form-group">
        <h5>Add Image of Yourself</h5>
      </div>

      <input type="file" id="avatar" name="avatar" class="form-control">
      <form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data">

      <button class="btn btn-success">
        Create Program Application
      </button>
      or
      <a href="/program_applications">Cancel</a>
    </form>
  </div>
</div>
