<div class="page-header">
  <h3>Program Application #<%= @program_application.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Summer program</dt>
      <dd><%= @program_application.summer_program_id %></dd>

      <dt>Reason for choosing</dt>
      <dd><%= @program_application.reason_for_choosing %></dd>

      <dt>Notes</dt>
      <dd><%= @program_application.notes %></dd>

      <dt>User</dt>
      <dd><%= @program_application.user_id %></dd>

      <dt>Photo</dt>
      <dd><%= @user.avatar %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/program_applications" class="btn btn-primary">
        Back
      </a>
      <a href="/program_applications/<%= @program_application.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_program_application/<%= @program_application.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
